* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body,
#root,
#config-root {
  height: 100%;
  width: 100%;
  background: #000;
  overflow: hidden;
  font-family: 'Avenir LT Std 35 Light Oblique', Helvetica, Arial, sans-serif;
}

#config-root {
  overflow: auto;
}
