.ProgressBar {
  user-select: none;

  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 100%;
  width: 100%;

  .no-gui & {
    display: none;
  }
}

.Shadow {
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.ContentWrapper {
  position: absolute;
  z-index: 2;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  width: 100%;
  max-width: 1200px;
  height: 200px;
  color: #fff;
  opacity: 0.65;

  &.no-percent,
  .no-gui & {
    display: none;
  }
}

@mixin Block {
  display: inline-block;
  vertical-align: middle;
}

@mixin SmallScreen() {
  @media screen and (max-width: 900px) {
    @content;
  }
}

.Left {
  @include Block;
}

.Center {
  @include Block;
  width: 55%;
  padding: 0 10px;
}

.Right {
  @include Block;
}

.Year {
  display: block;
  text-align: center;
  font-family: 'Avenir LT Std 95 Black Oblique';
  font-size: 51px;
  color: #fff;

  @include SmallScreen {
    font-size: 30px;
  }

  .mode-allInvisible & {
    display: none;
  }

  .mode-allVisible.gui-year & {
    display: none;
  }

  .mode-allInvisible.gui-year & {
    display: block;
  }
}

.Month {
  display: block;
  text-align: center;
  font-family: 'Avenir LT Std 35 Light Oblique';
  font-size: 38px;
  margin-top: 15px;
  padding-top: 8px;
  color: #fff;
  background: #020202;

  @include SmallScreen {
    font-size: 24px;
  }

  .no-m-days & {
    background: none;
  }

  .mode-allInvisible & {
    display: none;
  }

  .mode-allVisible.gui-month & {
    display: none;
  }

  .mode-allInvisible.gui-month & {
    display: block;
  }
}

.Day {
  display: block;
  font-family: 'Avenir LT Std 35 Light Oblique';
  font-size: 38px;
  margin-top: 15px;
  color: #fff;

  @include SmallScreen {
    font-size: 24px;
  }

  .mode-allInvisible & {
    display: none;
  }

  .mode-allVisible.gui-days & {
    display: none;
  }

  .mode-allInvisible.gui-days & {
    display: block;
  }
}

.DayLabel {
  @include SmallScreen {
    display: none;
  }
}

.Time {
  position: relative;
  display: block;
  text-align: center;

  .mode-allInvisible & {
    display: none;
  }

  .mode-allVisible.gui-time & {
    display: none;
  }

  .mode-allInvisible.gui-time & {
    display: block;
  }
}

.Hours,
.Minutes,
.TimeDots {
  font-family: 'Avenir LT Std 95 Black Oblique';
  font-size: 98px;
  color: #fff;

  @include SmallScreen {
    font-size: 50px;
  }
}

.Hours {
  .mode-allInvisible & {
    display: none;
  }

  .mode-allVisible.gui-hours & {
    display: none;
  }

  .mode-allInvisible.gui-hours & {
    display: block;
  }
}

.Minutes {
  .mode-allInvisible & {
    display: none;
  }

  .mode-allVisible.gui-minutes & {
    display: none;
  }

  .mode-allInvisible.gui-minutes & {
    display: block;
  }
}

.TimeDots {
  .mode-allInvisible & {
    display: none;
  }

  .mode-allVisible.gui-time-dots & {
    display: none;
  }

  .mode-allInvisible.gui-time-dots & {
    display: block;
  }
}

.Seconds {
  font-family: 'Avenir LT Std 35 Light';
  font-size: 59px;
  font-style: italic;
  padding-left: 10px;
  top: -5px;
  color: #fff;

  @include SmallScreen {
    font-size: 36px;
  }

  .mode-allInvisible & {
    display: none;
  }

  .mode-allVisible.gui-seconds & {
    display: none;
  }

  .mode-allInvisible.gui-seconds & {
    display: block;
  }
}

.WaterMark {
  position: absolute;
  z-index: 2;
  bottom: 3px;
  right: 7px;
  display: block;

  .no-m-days & {
    width: 70%;
    left: 30%;
    right: auto;
    text-align: center;
  }
}

.Progress {
  width: 100%;
  height: 30px;
  background: #3d3d3d;

  .mode-allInvisible & {
    display: none;
  }

  .mode-allVisible.gui-progress-bar & {
    display: none;
  }

  .mode-allInvisible.gui-progress-bar & {
    display: block;
  }
}

.ProgressWalking {
  height: 30px;
  background: #fff;
}

.Percent {
  display: block;
  text-align: center;
  font-family: 'Avenir LT Std 95 Black Oblique';
  font-size: 51px;
  color: #fff;

  @include SmallScreen {
    font-size: 30px;
  }

  .mode-allInvisible & {
    display: none;
  }

  .mode-allVisible.gui-percent & {
    display: none;
  }

  .mode-allInvisible.gui-percent & {
    display: block;
  }
}

.PercentFull {
  display: block;
  text-align: center;
  font-family: 'Avenir LT Std 35 Light Oblique';
  font-size: 38px;
  background: #020202;
  margin-top: 15px;
  padding-top: 8px;
  color: #fff;

  @include SmallScreen {
    font-size: 24px;
  }

  .mode-allInvisible & {
    display: none;
  }

  .mode-allVisible.gui-percent-full & {
    display: none;
  }

  .mode-allInvisible.gui-percent-full & {
    display: block;
  }
}

.Date {
  position: relative;
}
